html, body {
  margin: 0;
  padding: 0;
  background-color: #f6f7fb;
}

footer {
   position: absolute;
   
   width: 100%;
   text-align: center;
   text-decoration: none;
}

footer a {
  text-decoration: none;
}

